<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pokemon X1000</ion-card-title>
      <ion-card-subtitle>Lista y perfil de 1000 Pokemon</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      La siguiente es un practica de una sencilla lista en ionic framework, 
      <br>
      Una simple lista de pokemon haciendo consulta Http en Pokeapi con un perfil a cada uno de los Pokemon.
    </ion-card-content>
  </ion-card>

  <ion-button routerLink="/personajes" expand="block" fill="clear" shape="round" color="danger">
    <ion-icon name="bowling-ball-outline" slot="start"></ion-icon>
    Ver lista Pokemon
  </ion-button>
  
</ion-content>
